/* Definición de variables globales para la paleta de colores y estilos */
:root {
    --color-primario: #133C55;
    --color-acento: #00b894;
    --color-acento-hover: #019875;
    --color-fondo: #f2f4f7;
    --color-texto-claro: #fff;
    --color-texto-oscuro: #555;
    --radio-borde: 12px;
}

/*1.**`body`**:
*- Utiliza `display: flex` para centrar el contenido tanto horizontal (`justify-content: center`) como verticalmente (`align-items: center`).
*/
body {
    background-color: var(--color-fondo);
    display: flex;
    align-items: center; /* Centra verticalmente por defecto */
    justify-content: center;
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
}

/*2.**`body.page-registro`**:
*- Sobrescribe `align-items` a `flex-start` para alinear el formulario en la parte superior. Esto es crucial porque el formulario de registro es más largo y así se evita que se corte en pantallas con poca altura.
*/
body.page-registro {
    align-items: flex-start;
}


/*3.**`.login-card`**:
*-contenedor principal para los formularios.
*- Tiene un `max-width` para mantener una apariencia legible en escritorios y un `margin` vertical para dar espacio cuando se necesita hacer scroll.
*/
.login-card {
    width: 100%;
    max-width: 500px;
    margin: 2rem 0; /* Añade el margen vertical para dar espacio cuando hay scroll */  /* Solucione el problema del margen y centrado del login . Atte Alejandro */
    border-radius: var(--radio-borde);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    background: var(--color-texto-claro);
}


/*4.**`.login-header` y `.login-body`**:
*-Separo la cabecera (con el título) del cuerpo del formulario.
*/
.login-header {
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    text-align: center;
    padding: 1.5rem;
}

.login-header h2 {
    font-weight: 700;
    margin: 0;
}

.login-header p {
    font-size: 0.9rem;
    margin: 0;
    opacity: 0.9;
}

.login-body {
    padding: 1rem;
}

.form-label {
    font-weight: 500;
}



/*5.**`.btn-acceder`**:
*- Estilo para los botones principales de acción.
*/

.btn-acceder {
    background-color: var(--color-acento);
    color: var(--color-texto-claro);
    border: none;
    border-radius: 6px;
    padding: 0.6rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-acceder:hover {
    background-color: var(--color-acento-hover);
}

.forgot-password {
    text-align: center;
    margin-top: 1rem;
}

.forgot-password a {
    color: var(--color-texto-oscuro);
    font-size: 0.9rem;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
